.card {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 20px;
    padding: 25px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p, .card h2 {
    margin: 0;
}

.card p {
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 930px) {
    .card {
        width: calc(50% - 60px);
        margin-bottom: 10px;
    }
}